####
## System Files
####
.DS_Store
thumbs.db

####
## Package Manageers & Git
####
node_modules/
npm-debug.log
yarn-error.log
npm-debug.log.*
!.gitkeep

####
## Output Files
####
dist
coverage
.nyc_output
debug.js

####
## Configurations
####
.vscode